html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url('../asserts/background.png');
}

.container {
    background-color: white;
}

.resume-left-content:first-child {
    border-right: 1px solid #E6E6E6;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.intro img {
    width: 6.5rem;
}

.intro h1 {
    font-weight: bold;
    color: #444243;
}

.intro-title {
    color: #CD5574;
}

.intro-place {
    color: #787475;
}

.section-title {
    color: #CA4D6A;
    font-weight: bold;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.section-detail {
    color: #7F7D7E;
    padding-left: 2rem;
    border-left: 1px solid #E6E6E6;
    font-size: 0.9rem;
}

.section-experience {
    padding-left: 2rem;
    border-left: 1px solid #E6E6E6; 
}

.experience .section-experience {
    padding-top: 2.5rem;
}

.experience div:nth-child(2) {
    padding-top: 0rem;
}

.section-experience-title {
    color: #3E3C3D;
    font-weight: bold;
}

.section-experience-time {
    color: #D6778E;
}

.section-experience-detail {
    color: #7F7D7E;
    font-size: 0.9rem;
}

.list-unstyled {
    margin-bottom: 0;
}

.list-unstyled li:last-child p {
    margin-bottom: 0;
}

footer {
    border-top: 1px solid #E6E6E6;
    color: #7F7D7E;
    padding: 1.5rem 0;
}

footer a {
    color: #CD5574;
}

footer .copyright {
    font-size: 0.8rem;
    padding-top: 0.6rem;
}

.social-media {
    float: right;
    font-size: 1.5rem;
}

.resume-right-content {
    padding-top: 5rem;
}

.resume-right-content .detail:not(:first-child) {
    margin-top: 3rem;
}

.detail h4 {
    color: #CA4D6A;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.detail a {
    color: #CD5574;
}

.detail p {
    color: #7F7D7E;
    margin-bottom: 0.5rem;
}

.detail .progress-bar {
    height: 0.2rem;
    background-color: #CA4D6A;
}

.detail .progress {
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .resume-left-content:first-child {
        border-right: 0px;   
        padding-bottom: 2rem;
    }
    .resume-right-content {
        padding-top: 0;
        padding-bottom: 2rem;
    }
}
